.artifact-item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #8FCB9B;
  padding: 50px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
  max-height: 200px;
}

.artifact-item h3{
  margin: 0;
}

button{
  padding: 0.5em 1em;
  color: white;
  background: #136F63;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px; // Adiciona uma margem no topo do botão para separá-lo do texto
}
