.read-artifact {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
  background-color: #8FCB9B;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 60px;

  h1 {
    text-align: center;
  }

  .form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1em;
  }

  .form-group {
    flex: 1 1 45%; /* Ajusta a largura das colunas */
    margin-right: 2.5%;

    &:nth-child(2n) {
      margin-right: 0;
    }

    label {
      display: block;
      margin-bottom: 0.5em;
    }

    input,
    textarea {
      width: 100%;
      padding: 0.5em;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
  }

  button {
    display: block;
    width: auto; /* Ajusta a largura para o conteúdo */
    padding: 0.5em 1em; /* Reduz o preenchimento interno (padding) */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button.btn-secondary {
    background-color: #50C878;
  }

  button.btn-primary{
    background-color: #136F63;
  }

  button.btn-danger {
    background-color: #12130F;
    color: #FFFDF7;
  }
}
