<h2 class="artefato-title">Listagem do Acervo</h2>
<hr />
<div class="button-container">
  <button type="button" [routerLink]="['/create']" class="btn btn-primary mr-1">
    Incluir Nova Peça
  </button>
  <button type="button" (click)="reload()" class="btn btn-secondary">
    Recarregar
  </button>
</div>
<hr />

<div class="options">
  <mat-form-field appearance="fill">
    <mat-label>Ordenar por</mat-label>
    <mat-select id="sortOrder" (selectionChange)="onSortOrderChange($event.value)" [(ngModel)]="sortOrder">
      <mat-option value="artifactName">Ordem Alfabetica</mat-option>
      <mat-option value="registrationDate">Data de Registro</mat-option>
      <mat-option value="tombingDate">Data de Tombamento</mat-option>
      <mat-option value="collectionYear">Ano de Coleta</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<section>
  <ul class="list-group">
    <li class="list-group-item item-container" *ngFor="let artifact of sortedArtifacts">
      <app-list-item [artifact]="artifact" (itemChange)="refresh($event)"></app-list-item>
    </li>
    <div *ngIf="sortedArtifacts.length === 0" class="alert alert-warning" role="alert">
      Nenhum artefato foi cadastrado ainda :(
    </div>
  </ul>
</section>

<mat-paginator [length]="artifacts.length"
               [pageSize]="pageSize"
               [pageIndex]="pageIndex"
               [pageSizeOptions]="[25, 50, 100, 200]"
               (page)="onPageChange($event)">
</mat-paginator>
