.artefato-title{
  font-size: 48px;
  color: #12130F;
  margin-bottom: 10px;
  text-align: center;
}
.button-container {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  margin: 0 10px;

  .btn {
    width: auto;
    border-radius: 4px;
    cursor: pointer;
  }

  .btn.btn-primary {
    background-color: #12130F;
  }

  .btn.btn-secondary {
    background-color: #50C878;
  }
}
.list-group {
  list-style-type: none; /* Remove os marcadores padrão da lista */
  padding: 0; /* Remove o padding padrão */
  margin: 0; /* Remove a margem padrão */
}

.list-group-item {
  margin-bottom: 10px; /* Espaço entre os itens da lista */
  padding: 10px; /* Espaçamento interno dos itens */
  border: 1px solid #ccc; /* Borda dos itens */
  border-radius: 5px; /* Bordas arredondadas dos itens */
}
/* Estilos para o paginador */
.mat-paginator {
  margin-top: 10px;
}

.mat-paginator-range-label {
  font-size: 14px;
  color: #666;
}
